@use '@shared/styles/variables' as *;

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba($black, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  padding: $spacing-lg;
}

.modalContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: $spacing-xxxl $spacing-xl;
  gap: $spacing-xl;
  width: 420px;
  background: $white;
  border-radius: $border-radius-xl;
  position: relative;
  box-sizing: border-box;
  max-height: 90vh;
  overflow-y: auto;

  &.login {
    height: 449px;
  }

  &.registration {
    height: 709px;
  }

  &.success {
    height: 381px;
  }
}

.closeButton {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: $icon-size-xxl;
  height: $icon-size-xxl;
  right: 0;
  top: 0;
  background: $white;
  border-radius: $border-radius-xl;
  border: none;
  cursor: pointer;
  z-index: 1;
  transition: background-color $transition-fast;

  &:hover {
    background: darken($white, 5%);
  }

  .closeIcon {
    width: $icon-size-lg;
    height: $icon-size-lg;

    svg, img {
      width: 100%;
      height: 100%;
    }
  }
}

.errorMessage {
  background: rgba($error-color, 0.1);
  border: 1px solid $error-color;
  color: $error-color;
  padding: $spacing-md;
  border-radius: $border-radius;
  text-align: center;
  width: 100%;
  font-family: $font-family;
  font-size: $font-size-base;
}