@use '@shared/styles/variables' as *;

.logo {
  width: 132px;
  height: 29px;
  flex: none;
  
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  gap: $spacing-lg;
  width: 340px;
  flex: none;
  align-self: stretch;
}

.title {
  width: 149px;
  height: 32px;
  font-family: $font-family;
  font-weight: 700;
  font-size: $text-h3;
  line-height: $line-height-h3;
  color: $black;
  margin: 0;
  text-align: center;
}

.fieldsWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 12px;
  width: 340px;
  flex: none;
  align-self: stretch;
}

.field {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.inputContainer {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  padding: $spacing-md;
  gap: $spacing-md;
  width: 100%;
  height: 56px;
  background: $white;
  border: 1px solid $light-gray;
  border-radius: $border-radius;
  flex: none;

  &.error {
    border-color: #FF0000;
  }
}

.icon {
  width: 24px;
  height: 24px;
  flex: none;

  img {
    width: 100%;
    height: 100%;
  }
}

.input {
  width: 100%;
  height: $icon-size-lg;
  font-family: $font-family;
  font-weight: 400;
  font-size: $font-size-large;
  line-height: $icon-size-lg;
  color: $light-gray;
  border: none;
  outline: none;
  background: transparent;
  flex: 1;

  &::placeholder {
    color: $light-gray;
  }

  &:focus {
    color: $black;
  }
}

.submitButton {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: $spacing-md $spacing-xxl;
  gap: $spacing-md;
  width: 100%;
  height: 56px;
  background: $blue;
  border-radius: $border-radius-xxl;
  border: none;
  cursor: pointer;
  flex: none;

  &:disabled {
    opacity: $disabled-opacity;
    cursor: not-allowed;
  }
}

.submitButtonText {
  font-family: $font-family;
  font-weight: 700;
  font-size: $font-size-large;
  line-height: $icon-size-lg;
  color: $white;
}

.switchButton {
  font-family: $font-family;
  font-weight: 700;
  font-size: $font-size-large;
  line-height: $icon-size-lg;
  color: $black;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;

  &:disabled {
    opacity: $disabled-opacity;
    cursor: not-allowed;
  }
}

.successContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  gap: $spacing-lg;
  width: 340px;
  flex: none;
  align-self: stretch;
}

.successTitle {
  width: 284px;
  height: 32px;
  font-family: $font-family;
  font-weight: 700;
  font-size: $text-h3;
  line-height: $line-height-h3;
  color: $black;
  text-align: center;
  margin: 0;
}

.successText {
  width: 100%;
  font-family: $font-family;
  font-weight: 400;
  font-size: $font-size-large;
  line-height: $icon-size-lg;
  text-align: center;
  color: $black;
  margin: 0;
}