@use '@shared/styles/variables' as *;

.movieGridSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 80px 120px;
  gap: 64px;
  
  width: 100%;
  min-height: 1008px;
  
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  z-index: 1;
}

.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

.header {
  width: 100%;
  margin-bottom: 0;
}

.title {
  font-family: $font-family;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  color: #FFFFFF;
  margin: 0;
  
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.gridWrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100%;
}

.gridRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;
  gap: 40px;
  
  width: 100%;
  height: 336px;
  
  flex: none;
  flex-grow: 0;
}
