.genresGrid {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100%;
  align-items: center;
}

.gridRow {
  display: flex;
  justify-content: center;
  gap: 24px;
  width: 100%;
  
  @media (max-width: 1200px) {
    flex-wrap: wrap;
  }
}