@use '@shared/styles/variables' as *;

.loadingContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.loadingSpinner {
    width: 40px;
    height: 40px;
    bottom: 4px solid rgba(255, 255, 255, 0.3);
    border-top: 4px solid $primary-color;
    border-radius: 50%;
}